<div class="debug">
  <label><input type="checkbox"> Debug</label>
</div>


<div class="parallax">
  <div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <h1 class="name">Hilary Bouvier</h1>
    </div>
  </div>
  <div id="group2" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
    </div>
  </div>
  <div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      <div class="title">Foreground Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
  <div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--deep">
      <div class="title">Deep Background Layer</div>
    </div>
  </div>
  <div id="group5" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      <div class="title">Foreground Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
  <div id="group6" class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
  <div id="group7" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
</div>

<script>
  var debugInput = document.querySelector("input");
  function updateDebugState() {
      document.body.classList.toggle('debug-on', debugInput.checked);
  }
  debugInput.addEventListener("click", updateDebugState);
  updateDebugState();
</script>


<!-- <div class="wrapper">
  <div class="view">
    <h1>Hilary Bouvier</h1>
    <h6>Graphic Designer</h6>
  </div>
  <div class="surroundContainer">
    <div class="hPage">View 1</div>
    <div class="hPage">View 2</div>
  </div>
</div> -->
