<link href="https://fonts.googleapis.com/css?family=Averia+Libre|Barrio|Bungee+Shade|Cabin+Sketch|Croissant+One|Faster+One|Fjalla+One|Flamenco|Josefin+Sans|Julius+Sans+One|Megrim|Mirza|Poiret+One|Righteous|Rubik+Mono+One|Sirin+Stencil|Spinnaker|Ultra" rel="stylesheet">

<h1>Font Tests</h1>

<h1 class='Averia'>Hilary Bouvier</h1>
<h1 class='Barrio'>Hilary Bouvier</h1>
<h1 class='Bungee'>Hilary Bouvier</h1>
<h1 class='Cabin'>Hilary Bouvier</h1>
<h1 class='Croissant'>Hilary Bouvier</h1>
<h1 class='Faster'>Hilary Bouvier</h1>
<h1 class='Fjalla'>Hilary Bouvier</h1>
<h1 class='Flamenco'>Hilary Bouvier</h1>
<h1 class='Josefin'>Hilary Bouvier</h1>
<h1 class='Julius'>Hilary Bouvier</h1>
<h1 class='Megrim'>Hilary Bouvier</h1>
<h1 class='Mirza'>Hilary Bouvier</h1>
<h1 class='Poiret'>Hilary Bouvier</h1>
<h1 class='Righteous'>Hilary Bouvier</h1>
<h1 class='Rubik'>Hilary Bouvier</h1>
<h1 class='Sirin'>Hilary Bouvier</h1>
<h1 class='Spinnaker'>Hilary Bouvier</h1>
<h1 class='Ultra'>Hilary Bouvier</h1>
