<div class="pcimg-4">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>

  </div>
</div>

<div class="pcimg-1">
  <div class="caption">
      <span class="border ontop" style="background-color:transparent;font-size:200px;color: black;">Greetings From</span>
  </div>
</div>


<p>I love postcards, whether it is sending or receiving them. A tradition started by my grandfather, a captain in the French Navy who traveled the world over, my family has a long history of always sending postcards from wherever we travel to.

I wanted to create a set of personal and unique postcards by combining analogue photographs I've taken during travels and bold typography.</p>


<div class="pcimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="pcimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>
