/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




.Averia {
  font-family: 'Averia Libre', cursive;
}

.Barrio {
  font-family: 'Barrio', cursive;
}

.Bungee {
  font-family: 'Bungee Shade', cursive;
}

.Cabin {
  font-family: 'Cabin Sketch', cursive;
}

.Croissant {
  font-family: 'Croissant One', cursive;
}

.Faster {
  font-family: 'Faster One', cursive;
}

.Fjalla {
  font-family: 'Fjalla One', sans-serif;
}

.Flamenco {
  font-family: 'Flamenco', cursive;
}

.Josefin {
  font-family: 'Josefin Sans', sans-serif;
}

.Julius {
  font-family: 'Julius Sans One', sans-serif;
}

.Megrim {
  font-family: 'Megrim', cursive;
}

.Mirza {
  font-family: 'Mirza', cursive;
}

.Poiret {
  font-family: 'Poiret One', cursive;
}

.Righteous {
  font-family: 'Righteous', cursive;
}

.Rubik {
  font-family: 'Rubik Mono One', sans-serif;
}

.Sirin {
  font-family: 'Sirin Stencil', cursive;
}

.Spinnaker {
  font-family: 'Spinnaker', sans-serif;
}

.Ultra {
  font-family: 'Ultra', serif;
}
