/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  overflow: hidden;
  font-family: Century Gothic;
  margin: 0;
}

h1.ontop {
  text-align: center;
  font-size: 200px;
  margin-top: 0px;
  text-shadow: 2px 2px #FFFFFF;

}

h1, h6 {
  text-align: center;
}

p {
  margin-left: 10px;
}



  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }


  /* Debugger styles - used to show the effect
  --------------------------------------------- */

  .debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 999;
    background: rgba(0,0,0,.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
  }
  .debug-on .parallax__group {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
 }
  .debug-on .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
  }
  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  /*body {
    font: 100% / 1.5 Arial;
  }*/

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

  /*.parallax h1 {

    font-size: 300px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }*/

   /* centre the content in the parallax layers */
  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .name {
    display: inline-block;
    font-size: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: -5px;
    color: rgba(0,0,255,0.5);
  }

  .name:after {
    content: "Hilary Bouvier";
    position: absolute; left: 10px; top: 5px;
    color: rgba(255, 0, 0, 0.5);
  }




  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    background: gray;
    /*background-image: url('postcards/pc1.jpg');*/
    /*background-image: */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    background: rgb(123,210,102);
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    background: rgb(153,216,101);
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    background: rgb(184,223,101);
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    background: rgb(214,229,100);
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    background: rgb(245,235,100);
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    background: rgb(255,241,100);
  }


  /* misc
  --------------------------------------------- */
  .demo__info {
    position: absolute;
    z-index:100;
    bottom: 1vh;
    top: auto;
    font-size:80%;
    text-align:center;
    width: 100%;
  }


/*.wrapper {
  height: 100%;
  background-color: gray;
}

.view {
  height: 100%;
  background-color: lightgreen;
}

.surroundContainer {
  height: 100%;
  overflow: auto;
  white-space: nowrap;
}

.hPage {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: blue;
}*/



.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .cam1, .cam2, .cam3, .ctwimg-1, .ctwimg-2, .ctwimg-3, .ctwimg-4, .chot-1, .chot-2, .chot-3, .chot-4, .chot-5, .chot-6, .chot-7, .chot-8, .psimg-1, .psimg-2, .hhimg-1, .hh_wp1, .hhimg-2, .mfbimg-1, .mfbimg-2, .mfbimg-3, .mfbimg-4, .mfbimg-5, .mfbimg-6, .mfbimg-7, .mfbimg-8, .mfbimg-9  {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .pcimg-1, .pcimg-2, .pcimg-3, .pcimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
}

.box {
  overflow: scroll;
}

.gtgimg-1, .gtgimg-3, .gtgimg-4{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bgimg-1 {
  background-image: url("boston_boxed_bread/bbb1.png");
  min-height: 1000px;
}

.bgimg-2 {
  background-image: url("boston_boxed_bread/bbb2.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("boston_boxed_bread/bbb3.png");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("boston_boxed_bread/bbb4.png");
  min-height: 1000px;
}

.bgimg-5 {
  background-image: url("boston_boxed_bread/bbb5.png");
  min-height: 400px;
}

.cam1 {
  background-image: url("lumography/cam1.jpg");
  min-height: 1000px;
}

.cam2 {
  background-image: url("lumography/cam2.jpg");
  min-height: 400px;
}

.cam3 {
  background-image: url("lumography/cam3.jpg");
  min-height: 400px;
}

.chot-1 {
  background-image: url("condensed_history_of_type/chot1.jpg");
  min-height: 1000px;
}

.chot-2 {
  background-image: url("condensed_history_of_type/chot2.jpg");
  min-height: 800px;
}

.chot-3 {
  background-image: url("condensed_history_of_type/chot3.jpg");
  min-height: 800px;
}

.chot-4 {
  background-image: url("condensed_history_of_type/chot4.jpg");
  min-height: 800px;
}

.chot-5 {
  background-image: url("condensed_history_of_type/chot5.jpg");
  min-height: 800px;
}

.chot-6 {
  background-image: url("condensed_history_of_type/chot6.jpg");
  min-height: 800px;
}

.chot-7 {
  background-image: url("condensed_history_of_type/chot7.jpg");
  min-height: 800px;
}

.chot-8 {
  background-image: url("condensed_history_of_type/chot8.jpg");
  min-height: 800px;
}

.ctwimg-1 {
  background-image: url("carolina_turfworks/ct1.png");
  min-height: 1000px;
}

.ctwimg-2 {
  background-image: url("carolina_turfworks/ct2.jpg");
  min-height: 1000px;
}

.ctwimg-3 {
  background-image: url("carolina_turfworks/ct3.png");
  min-height: 1000px;
}

.ctwimg-4 {
  background-image: url("carolina_turfworks/ct4.png");
  min-height: 1000px;
}


.gtgimg-1 {
  background-image: url("globe_to_glass/gtg1.jpg");
  min-height: 1000px;
}

.gtgimg-3 {
  background-image: url("globe_to_glass/gtg3.jpg");
  min-height: 800px;
}

.gtgimg-4 {
  background-image: url("globe_to_glass/gtg4.jpg");
  min-height: 800px;
}

.hhimg-1 {
  background-image: url("happiness_hypothesis_covers/hh1.jpg");
  min-height: 1000px;
}

.hh_wp1 {
  background-image: url("happiness_hypothesis_covers/hh_wp1.png");
  min-height: 1000px;
}

.hhimg-2 {
  background-image: url("happiness_hypothesis_covers/hh2.jpg");
  min-height: 800px;
}

.mfbimg-1 {
  background-image: url("morris_fuller_benton/mfb1.jpg");
  min-height: 1000px;
}

.mfbimg-2 {
  background-image: url("morris_fuller_benton/mfb2.jpg");
  min-height: 800px;
}

.mfbimg-3 {
  background-image: url("morris_fuller_benton/mfb3.jpg");
  min-height: 800px;
}

.mfbimg-4 {
  background-image: url("morris_fuller_benton/mfb4.jpg");
  min-height: 800px;
}

.mfbimg-5 {
  background-image: url("morris_fuller_benton/mfb5.jpg");
  min-height: 800px;
}

.mfbimg-6 {
  background-image: url("morris_fuller_benton/mfb6.jpg");
  min-height: 800px;
}

.mfbimg-7 {
  background-image: url("morris_fuller_benton/mfb7.jpg");
  min-height: 800px;
}

.mfbimg-8 {
  background-image: url("morris_fuller_benton/mfb8.jpg");
  min-height: 800px;
}

.mfbimg-9 {
  background-image: url("morris_fuller_benton/mfb9.jpg");
  min-height: 800px;
}

.psimg-1 {
  background-image: url("paula_scher/ps1.jpg");
  min-height: 1000px;
}

.psimg-2 {
  background-image: url("paula_scher/ps2.jpg");
  min-height: 800px;
}

.pcimg-1 {
  background-image: url("postcards/pc1.jpg");
  min-height: 1000px;
  /*max-width: 800px;*/
}

.pcimg-2 {
  background-image: url("postcards/pc2.png");
  min-height: 800px;
  /*max-width: 800px;*/
}

.pcimg-3 {
  background-image: url("postcards/pc3.jpg");
  min-height: 1000px;
  /*max-width: 800px;*/
}

.pcimg-4 {
  background-image: url("postcards/pc4.jpg");
  min-height: 1200px;
  /*max-width: 800px;*/
}





.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
